* {
    border: 0;
    margin: 0;
}

body {
    font: 100%/1.3 Lucida Sans,
        Lucida Sans Regular,
        Lucida Grande,
        Lucida Sans Unicode,
        Geneva,
        Verdana,
        sans-serif;
}

:root {
    --grid-rows: 1;
    --grid-cols: 1;
    --background-color: rgb(59, 42, 42);
}

.btn-control {
    margin: 20px auto;
    text-align: center;
}

button {
    padding: 20px;
    border-radius: 20px;
    width: 40%;
    height: 10%;
    background-color: grey;
    color: greenyellow;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

button:hover {
    background-color: rgb(183, 241, 124);
    color: gray;
}

button:active {
    box-shadow: 1px 4px 3px rgb(2, 58, 20);
}

.container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), auto);
    grid-template-columns: repeat(var(--grid-cols), auto);
    margin: 0 auto;
    width: 75vw;
    border: 3px solid rgba(235, 221, 221, 0.418);
}

.grid-cells {
    grid-row: 1 / span auto;
    grid-column: 1 / span auto;
    background-color: rgba(186, 248, 150, 0.897);
    padding: 50%;
    width: 5px;
    height: 5px;
    border-radius: 15%;
    border: 1px solid rgba(239, 240, 237, 0.144);
}

.grid-color {
    background-color: rgba(51, 3, 3, 0.897);
}

@media only screen and (max-width: 400px) {
    button {
        padding: 10px;
        border-radius: 20px;
        width: 40%;
        height: 30%;
        background-color: grey;
        color: greenyellow;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
        text-decoration: none;
        outline: none;
    }
}